@model PBMS.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Add New Contact <small>add new contact</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="AdminDashboard" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @*<li>
                <a href="#">Page Layouts</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            <li>
                <a asp-action="Create" asp-controller="Contacts">Add New Contact</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <div class="col-md-12">
            <h4 class="alert bg-info text-info text-center">Add Single Contact</h4>
            <hr />
            <div>
                <form asp-action="Create" class="form-inline">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div> &nbsp;&nbsp;
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div> &nbsp;&nbsp;
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div> &nbsp;&nbsp;
                    <div class="form-group">
                        <label asp-for="Number" class="control-label"></label>
                        <input type="tel" asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div> &nbsp;&nbsp;
                    <div class="form-group">
                        <label asp-for="GroupId" class="control-label">Group</label>
                        <select asp-for="GroupId" class="form-control" asp-items="@ViewBag.GroupId">
                            <option value="">--Select Group--</option>
                        </select>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div> &nbsp;&nbsp;
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </form>
            </div>

            <hr />

            <h4 class="alert bg-info text-info text-center">Add Multiple Contact</h4>
            <hr />
            <div>
                <form class="form-inline">
                    @*asp-controller="Home" asp-action="Export"*@
                    <div>
                        <h5 id="divPrint" class="text-info"></h5>
                    </div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="form-group">
                        <input type="file" id="fileupload" name="files" class="form-control" />
                    </div>&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <label asp-for="GroupId" class="control-label">Group</label>
                        <select id="gId" name="gId" class="form-control" asp-items="@ViewBag.GroupId">
                            <option value="">--Select Group--</option>
                        </select>
                    </div>&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <input type="button" name="Upload" value="Submit" id="btnupload" class="btn btn-success" />
                        @*<a href="@Url.Action("Download", "Home")">Download</a>*@
                    </div>
                    @*<div class="col-md-5">
                          <input type="submit" name="Export" value="Create and Export" id="btnExport" class="btn btn-primary" asp-action="Export" asp-controller="Home">
                    </div>*@
                </form>
            </div>

            <hr />

            <div>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnupload').on('click', function () {

                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fileupload').val();

                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');

                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }

                var fdata = new FormData();
                var fileUpload = $("#fileupload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);

                var id = $("#gId").val();

                $.ajax({
                    type: "POST",
                    url: "/Contacts/InsertBulkDatafromExcelfile/" + id, //url: "/Home/Import",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.length == 0)
                            alert('Some error occured while uploading');
                        else {
                            $('#divPrint').html(response);
                        }
                        $('#fileupload').val("");
                    },
                    error: function (e) {
                        $('#divPrint').html(e.responseText);
                        $('#fileupload').val("");
                    }
                });
            })

            $('#btnExport').on('click', function () {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fileupload').val();

                if (filename.length == 0) {
                    alert("Please select a file then Import");
                    return false;
                }
            });
        });
    </script>
}

