@model PBMS.Models.Message

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Number SMS Send <small>number sms send</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a asp-action="AdminIndex" asp-controller="Home">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @*<li>
                <a href="#">Page Layouts</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            <li>
                <a asp-action="Create" asp-controller="Messages">Number SMS Send</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12 col-md-offset-1">
            <div class="row">

                <div class="col-md-4">
                    <h3 class="alert bg-info text-center">Number SMS</h3>
                    <form asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label">Message</label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                            <span>Character Count: </span><span id="msgCharCount">0</span>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;SMS Count: </span><span id="smsCount">0</span>                           
                        </div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label">Number/Numbers</label>
                            <textarea asp-for="Number" class="form-control"></textarea>
                            <span asp-validation-for="Number" class="text-danger"></span>
                            <span>Valid: </span><span id="validNum">0</span>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;Invalid: </span><span id="invalidNum">0</span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="control-label">Mask Option</label>
                            <select asp-for="Type" class="form-control">
                                <option value="">--Select Mask--</option>
                                <option value="Masking">Masking</option>
                                <option value="Non-Masking">Non-Masking</option>
                            </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-success" id="submit"/>
                        </div>
                    </form>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <h3 class="alert bg-info text-center">Group SMS</h3>
                    <form asp-action="SendGroupSMS" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Message</label>
                            <textarea name="Content" class="form-control" required id="msgContent"></textarea>
                            <span>Character Count: </span><span id="msgCharCount1">0</span>
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;SMS Count: </span><span id="smsCount1">0</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Group</label>
                            <select name="GroupId" class="form-control" required>
                                <option value="">--Select Group--</option>
                                @foreach(var group in ViewBag.Groups)
                                {
                                    <option value="@group.Id">@group.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mask Option</label>
                            <select name="Type" class="form-control" required>
                                <option value="">--Select Mask--</option>
                                <option value="Masking">Masking</option>
                                <option value="Non-Masking">Non-Masking</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            //$("#demo").validate(function () {
            //    rules: {
            //        Number: {
            //            require: true,
            //            minLength: 11
            //        }
            //    }
            //});

            $("#Content").keyup(function () {
                var msgCount = 1;
                var arrItems = new Array(5,10,15);
                var strLength = $("#Content").val().length;
                $("#msgCharCount").text(strLength);
                $("#smsCount").text(msgCount);

                $.each(arrItems, function (index, value) {
                    if (strLength > value) {
                        msgCount = msgCount + 1;
                        $("#smsCount").text(msgCount);
                        
                    }
                    else if (strLength <= 0) {
                        msgCount = 0;
                        $("#smsCount").text(msgCount);
                    }
                    else {
                        $("#smsCount").text(msgCount);
                    }
                });               
            });

            $("#msgContent").keyup(function () {
                var msgCount = 1;
                var arrItems = new Array(5, 10, 15);
                var strLength = $("#msgContent").val().length;
                $("#msgCharCount1").text(strLength);
                $("#smsCount1").text(msgCount);

                $.each(arrItems, function (index, value) {
                    if (strLength > value) {
                        msgCount = msgCount + 1;
                        $("#smsCount1").text(msgCount);

                    }
                    else if (strLength <= 0) {
                        msgCount = 0;
                        $("#smsCount1").text(msgCount);
                    }
                    else {
                        $("#smsCount1").text(msgCount);
                    }
                });
            });

            $("#Number").keyup(function () {
                var valid = [];
                var invalid = [];
                var strArray = $("#Number").val().split(","); //.replace(/\s/g, '')
               
                $.each(strArray, function (index, value) {
                    
                    var numOperator = value.substring(0, 3);

                    if (value.length === 11 && (numOperator === "013" || numOperator === "014" || numOperator === "015" || numOperator === "016" || numOperator === "017" || numOperator === "018" || numOperator === "019") && (!isNaN(value))) {
                        valid[index] = 1;
                        invalid[index] = 0;                        
                    }                  
                    else {
                        valid[index] = 0; 
                        invalid[index] = 1;                                                
                    }                   

                    var validReduce = valid.reduce((a, b) => a + b, 0);
                    var invalidReduce = invalid.reduce((a, b) => a + b, 0);
                    
                    $("#validNum").text(validReduce);
                    $("#invalidNum").text(invalidReduce);

                    if (invalidReduce > 0) {
                        $("#submit").prop("disabled", true);
                        
                    }
                    else {
                        $("#submit").prop("disabled", false);
                    }
                });                            
            });
            
        });
    </script>
}
